<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MeaningCloud - NLP</title>
  </head>
  <body>
    <header>
      <h1>MeaningCloud API Call</h1>
    </header>
    <main>
      <section class="input_section">
        <form class="" id="submit" onsubmit="return Client.handleSubmit(event)">
          <input
            class="user_input"
            id="urlInput"
            type="text"
            name="input"
            value=""
            placeholder="input URL"
          />
          <input
            class="btn"
            type="submit"
            id="submit"
            value="submit"
            onclick="return Client.handleSubmit(event)"
            onsubmit="return Client.handleSubmit(event)"
          />
        </form>
        <div class="error_message" id="errorMessage"></div>
      </section>
      <section class="result_section">
        <h3>Results:</h3>
        <div class="results" id="result_output"></div>
        <div class="subjectivity" id="subjectivity_output"></div>
        <div class="score" id="score_output"></div>
      </section>
    </main>
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
