form {
  border-radius: 10px;
  padding: 40px;
}

input {
  padding: 5px 20px;
  width: 100%;
  line-height: 16px;
  margin: 10px 0;
  border-radius: 10px;
  outline: none;

  &[type="submit"] {
    cursor: pointer;
  }
}

.result_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 150px;

  .results {
    font-size: 1.2em;
  }

  .subjectivity {
    font-size: 1.2em;
  }

  .score {
    font-size: 1.2em;
  }
}
